body{
	padding:0px;
	margin:0px;
}
#logo_text {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgb(128,217,255);
    font-size: 64px;
    margin: 0 auto;
}

#container {
	background-color:rgb(50,50,50);
	width:100%;
	min-width:670px;
	margin: 0 auto;
}

#header {
	background-color: #489b93;
	width:100%;
	height:auto;
	min-height:116px;
	border-bottom:4px solid #1e7770;
}


#content_wrapper{
	background-color: rgb(240,240,240);
	min-width: 500px;
	overflow: hidden;
	overflow-y: scroll;
	overflow-x:	hidden;
}


#content{
	margin: 0 auto;
	width:75%;
	height:500px;
	min-width:640px;
}

#navigation {
	background-color: white;
	position:relative;
	float:left;
	width:19.6%;
	height:99.6%;
	margin:0.2%;
	padding-bottom:0.3%;
	min-width:124px;
}

#inner_content{
	background-color:white;
	float:right;
	width:79%;
	height:99%;
	margin:0.2%;
	padding:0.3%;
}

#footer {
	 background-color: #489b93;
	 height:236px;
	 width:100%;
	 border-top:4px solid #1e7770;
}

#inner_footer {
	width:75%;
	margin: 0 auto;
}

#inner_header {
	width:71%;
	margin: 0 auto;
}

/* Menu.xhtml elements */

#panelMenu {
	width:100%;
	font-size:16px;
}

.ui-panelmenu .ui-panelmenu-header{
	background: none white;
  	color: black;
  	border-radius:0px;
  	border:none;
}

.ui-state-hover{
	background: none rgb(250,250,250)!important;
}

.ui-menuitem{
	border:none;
	border-left:3px solid #489b93;
	border-radius:0px;
}

.site-nav__link .icon-chevron-down {
	display: none;
}

.ui-panelmenu .ui-panelmenu-content{
	border:0!important;
}