#container {
	margin: 0 auto;
	background-color:yellow;
	max-width:1000px;
}

#header {
	background-color: red;
	width:100%;
	height:70px;
}

#navigation {
	background-color: green;
	width:25%;
	height:500px;
	float:left
}

#content {
	background-color: blue;
	float:left;
	width:75%;
	height:500px;
}

#footer {
	 background-color: brown;
	 height:100px;
	 width:100%;
}